* {
    margin: 0;
    padding: 0;
}
p {
    margin: 250px;
    margin-top: 50px;
    font-size: 132px;
    margin-bottom: 50px;
}
span {
    margin-left: 40%;
    font-size: 24px;
}
img {
    clear: both;
    margin-left: 42%;
}